@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.nav {
    margin-top: 30px;
}

#btnScrollToTop {
    display: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(112, 102, 181);
    box-shadow: 0 0 10x rgba(0, 0, 0, 0.25);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1001;
}
#btnScrollToTop:active {
    background: darkslateblue;
}



#snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
}


.dropdown {
    min-width: 15em;
    position: relative;
    
    
}

.dropdown *{
    box-sizing: border-box;
}
.select {
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
    background: #323741;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transform: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #2a2d35;
}

.active {
    background: #23242a;
}

.menu-open {
    display: block;
    opacity: 1;
}

.snow, snow:after, .snow:before {
    content: "";
    position: absolute;
    top: -650px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: 
    radial-gradient(4px 4px at 100px 50px, #fff, transparent),
    radial-gradient(6px 6px at 200px 150px, #fff, transparent),
    radial-gradient(3px 3px at 300px 250px, #fff, transparent),
    radial-gradient(4px 4px at 400px 350px, #fff, transparent),
    radial-gradient(6px 6px at 500px 100px, #fff, transparent),
    radial-gradient(3px 3px at 50px 200px, #fff, transparent),
    radial-gradient(4px 4px at 150px 300px, #fff, transparent),
    radial-gradient(6px 6px at 250px 400px, #fff, transparent),
    radial-gradient(3px 3px at 350px 500px, #fff, transparent);
    background-size: 650px 650px;
    animation: snowAnim 15s linear;
    animation-iteration-count: infinite;
}

.snow:after {
    margin-left: -250px;
    opacity: .5;
    filter: blur(2px);
}
.snow:before {
    margin-left: -350px;
    opacity: .7;
    filter: blur(1px);
}

@keyframes snowAnim {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(650px);
    }
}

@import url('https://fonts.googleapis.com/css?family=Sacramento');

.container1 {
    background-color: hsla(231, 39%, 14%, 0.161);
    font-family: 'Sacramento', cursive;
height: 200px;
width: 600px;
position: fixed;
top: 0;
bottom: 0;
left: 0px;
right: 12;
margin: auto;
}
.container1 .title {
font-size: 5rem;
z-index: 1;
color: rgba(255, 255, 255, 0.5);
text-align: center;
text-shadow: 0px 2px 1px orange, 0px 0px 6px orangered, 0px 5px 10px rgba(0, 0, 0, 1);
}
.diwali {
list-style-type: none;
padding: 0;
}
.diwali li {
display: inline-block;
margin: 20px;
height: 50px;
width: 50px;
border-radius: 500px;
position: relative;
background-color: #8d6e63;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.diwali li::before {
content: "";
position: absolute;
height: 100%;
background-color: hsla(231, 39%, 14%, 1.161);
width: 100%;
border-radius: 500px;
top: -40%;
left: -30%;
}
.diwali li::after {
content: "";
position: absolute;
height: 100%;
background-color: hsla(231, 39%, 14%, 1.151);
width: 100%;
border-radius: 500px;
top: -40%;
right: -30%;
}
.diwali li span {
display: flexbox;
height: 20px;
width: 20px;
position: absolute;
left: 0;
right: 0;
margin: auto;
z-index: 1;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
border-top-right-radius: 50px;
transform: rotate(45deg);
animation: fire 0.3s ease infinite;
}
.diwali li:nth-child(1) span {
animation-delay: 0.25s;
}
.diwali li:nth-child(2) span {
animation-delay: .5s;
}
.diwali li:nth-child(3) span {
animation-delay: .75s;
}
.diwali li:nth-child(4) span {
animation-delay: 1s;
}
.diwali li:nth-child(5) span {
animation-delay: 1.25s;
}
.diwali li:nth-child(6) span {
animation-delay: 1.5s;
}

@keyframes fire {
0%, 100% {
transform: rotate(55deg);
width: 20px;
background: linear-gradient(90deg, orange, orangered);
}
50% {
transform: rotate(35deg);
width: 18px;
background: linear-gradient(90deg, orangered, orange);
}
}

.container3 {
    position: absolute;
    top: 80px;
    right: 100px;
    left: 100px;
    bottom: 80px;
    background: url(images/R.jfif);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 50px 50px rgba(0, 0, 0, 0.5),
                0 0 0 100px rgba(0, 0, 0, 0.1);
}

.container3 h2 {
    text-align: center;
    font-size: 10em;
    line-height: 0.7em;
    color: #333;
    margin-top: -80px;
}

.container3 h2 span {
    display: block;
    font-weight: 300;
    letter-spacing: 6px;
    font-size: 0.2em;
}

.countdown {
    display: flex;
    margin-top: 50px;
}

.countdown div {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #fff;
    margin: 0 15px;
    font-size: 3em;
    font-weight: 500;

}

.countdown div:before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 50px;
    background: #ff0;
    color: #333;
    font-style: 0.35em;
    line-height: 35px;
    font-weight: 300;
}

